@model Requerimientos.Models.Usuarios
@{
    ViewBag.Title = "User - " + Model.Usuario;
    if ((Model.Usuario != null) && (Model.Usuario != ""))
    {
        ViewBag.Title = ViewBag.Title + " (" + Model.Usuario + ")";
    }
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='button']").button();
        $(":input[type='submit']").button();
    });
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            @*<li>
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li>
                    <a>Tables</a>
                </li>
                <li class="active">
                    <strong>Validation</strong>
                </li>*@
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

@using (Html.BeginForm("EditarUsuario", "Admin", FormMethod.Post))
{




    @Html.ValidationSummary(true)
    <input name='User_Id' id='User_Id' type="hidden" value="@ViewBag.UserId" />
    
    
    <fieldset>
        @*<legend>
            <h3>
                User Details
            </h3>
        </legend>*@
        @Html.Partial("_EditarDetalleUsuario", Model)
        <br />
        @*<input type="submit" value="Save" />*@
    </fieldset>

    <fieldset class="col-lg-6">
        @*<legend>
                <h3>
                    Roles Associated with this User
                </h3>
            </legend>*@
        <div class="panel" id="RolesTable">
            @Html.Partial("_ListaUsuariosRoles", Model)
        </div>
    </fieldset>
        <fieldset class="col-lg-6">

            @Html.Partial("_ListaEditableUsuarioRoles")
            <br />
          
        </fieldset>    
}
<br />

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        
      
            <div>
                <span>@Html.ActionLink("Ir a Roles", "RolIndex", "Admin", new { @class = "btn btn-primary btn-w-m" })</span>
               
                <span>@Html.ActionLink("Ir a Usuarios", "Index", "Admin", new { @class = "btn btn-primary btn-w-m" })</span>
                @*@Html.ActionLink("Ir a Roles", "RolIndex", "Admin")*@
            </div>

            <div>
                @*@Html.ActionLink("Ir a Usuarios", "Index", "Admin")*@
            </div>
       
    </div>
    <div class="col-lg-2">
    </div>
</div>



