
@using Requerimientos.Models
@model IEnumerable<Requerimientos.Models.Mensajes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<style>
    .Aceptado {
        background-color: #1ab394;
        color: #FFFFFF;
    }

    .Incosistente {
        background-color: #f0ad4e;
        color: #FFFFFF;
    }

    .Rechazado {
        background-color: #ff0000;
        color: #FFFFFF;
    }

    .mail-box {
        padding-left: 1%;
        padding-right: 1%;
    }


    .Noleido td a,
    .Noleido td {
        font-weight: 600;
        color: inherit;
    }

    .leido td a,
    .leido td {
        font-weight: normal;
        color: inherit;
    }

    .Noleido td {
        background-color: #e6e6e6;
        color: black;
    }

    .footable-odd {
        background-color: #ffffff;
    }
</style>
<input type="hidden" id="success"
       value="@TempData["success"]" />
<input type="hidden" id="info"
       value="@TempData["info"]" />
<input type="hidden" id="warning"
       value="@TempData["warning"]" />
<input type="hidden" id="error"
       value="@TempData["error"]" />







<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Requerimientos</h2>
        <ol class="breadcrumb"></ol>
    </div>
</div>



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                      
                        <a class="btn btn-block btn-primary compose-mail" href="@Url.Action("Create", "Mensajes")">Nuevo Requerimiento</a>
                        <div class="space-25"></div>
                        <h5>Bandejas</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">

                            <li><a href="@Url.Action("Index", "Mensajes")"> <i class="fa fa-inbox "></i> Recibidos <span class="label label-warning pull-right">@ViewData["contarmensajeentrada"]</span> </a></li>
                            <li><a href="@Url.Action("Enviados", "Mensajes")"> <i class="fa fa-envelope-o"></i> Enviados <span class="label label-danger pull-right">@ViewData["contarmensajesalida"]</span> </a></li>
                          
                        </ul>
                       



                      

                        @{
                            Html.RenderAction("Inicios", "Mensajes");
                        }


                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-10 animated fadeInRight">

            <div class="animated fadeInRight">
                <div class="mail-box-header">
                
                    <div class="mail-tools tooltip-demo m-t-md">
                     
                        <div class="col-lg-1">
                            <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Volver a Cargar"><i class="fa fa-refresh"></i> Refresh</a>

                        </div>
                        <div class="col-lg-3">
                            <h2>
                                @ViewData["nombrecarpeta"]
                            </h2>

                        </div>
                        <br />
                        <br />
                    </div>





                </div>

                @using (Html.BeginForm())
                {

                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group form-inline pull-left" id="data_5" style="width: 40%;">
                            <div class="input-group" style="width: 50%;">
                             
                                @Html.DropDownList("IdCarpeta", null, "--Seleccione--", htmlAttributes: new { @class = "form-control" })

                            </div>
                            <div class="btn-group">

                                <input type="submit" value="Cambiar" name="submit" id="submit" class="btn btn-primary">


                            </div>
                        </div>
                        <div class="col-sm-6 form-group form-inline pull-right" id="data_5" style="width: 40%;">
                           
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" id="comienzo" class="input-sm form-control" name="start" placeholder="Fecha desde" />
                                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" id="final" class="input-sm form-control" name="end" placeholder="fecha hasta" />

                            </div>
                            <div class="btn-group">

                                <input type="submit" value="Filtrar" class="btn btn-primary" id="btngetdata">
                            </div>

                        </div>

                    </div>
                    <div class="mail-box">
                        <br />
                        <br />

                        <form method="get" action="#" class="pull-right mail-search">
                            <div class="input-group col-lg-12">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Buscar en toda la tabla">


                            </div>
                        </form>
                        <br />
                        <br />
                        <b> @ViewData["Fechas"]</b>
                        <table class="table footable table-hover table-stripped" data-page-size="20" data-filter=#filter>

                            <tr style="background-color: #1ab394; color: #FFFFFF;">
                                <th class="text-center"></th>
                                <th>
                                    Identificador
                                </th>
                                <th>
                                    Remitente
                                </th>
                                <th>
                                    Asunto
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Proyecto
                                </th>
                                <th>
                                    Archivos
                                </th>
                                <th>
                                    Novedades
                                </th>
                                <th>Delegado</th>

                                <th class="text-center">Fecha</th>
                                <th class="text-center"></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tbody>


                                <tr class="@Html.DisplayFor(modelItem => item.Estado)">
                                   
                                    <td class="check-mail">

                                      
                                        <input type="checkbox" class="i-checks" name="deleteInputs[]" value="@item.Id"/>

                                    </td>

                                    <td class="i-checks">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td><a href="@Url.Action("Details", "Mensajes", new {id = item.Id})">@Html.DisplayFor(modelItem => item.Usuarios.Nombre)</a></td>
                                    <td class="mail-subject"><a href="@Url.Action("Details", "Mensajes", new {id = item.Id})">@Html.DisplayFor(modelItem => item.Asunto)</a></td>
                                    <td><span style="background-color: @Html.DisplayFor(modelItem => item.Estado_requerimiento.color); color: #fff;" class="label">@Html.DisplayFor(modelItem => item.Estado_requerimiento.Descripcion)</span></td>
                                    <td>@Html.DisplayFor(modelItem => item.Proyectos.Titulo)</td>
                                    <td>
                                        @if (item.Archivos.Count() == 0)
                                        {
                                            <span>Sin Archivos</span>
                                        }
                                        else
                                        {
                                            <span><i class="fa fa-paperclip"></i>@item.Archivos.Count() Archivos(s)</span>
                                        }
                                    </td>
                                   
                                    <td class="">
                                        @if (item.Novedades.Count() == 0)
                                        {
                                            <span>Sin Novedades</span>
                                        }
                                        else
                                        {
                                            <span>@item.Novedades.Count() Novedades</span>
                                        }




                                    </td>


                                    <td class="">
                                        @if (item.Idusuariodelega == 0)
                                        {
                                            <span></span>
                                        }
                                        else
                                        {
                                            if (@User.Identity.Name == item.Usuariodelega)
                                            {
                                                <span>
                                                        delegado a mí
                                                    </span>
                                            }
                                            else
                                            {
                                                <span>@item.Usuariodelega</span>

                                            }

                                        }




                                    </td>


                                    <td class="text-right mail-date">@Html.DisplayFor(modelItem => item.Fecha)</td>


                                    <td class="text-right mail-date">
                                        <a href="@Url.Action("Create", "Novedades", new {id = item.Id, idproyecto = item.Proyectos.Idproyecto})" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Ingresar Novedad"><i class="fa fa-pencil"></i></a>
                                    </td>


                                </tr>

                                </tbody>
                            }
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>

                        </table>

                    </div>
                }
            </div>

        </div>



    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")

    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")



}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")


    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">


        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var fecha = parseFloat(data[3]) || 0; // use data for the age column

                if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && fecha <= max) ||
                (min <= fecha && isNaN(max)) ||
                (min <= fecha && fecha <= max)) {
                    return true;
                }
                return false;
            }
        );

      
        $(document).ready(function() {

        
            $(function(){
             $.ajax({
                    url: '@Url.Action("Entrada", "Mensajes")',
                    type: 'GET',
                    // data: { id: id },
                    success: function(partialView) {
                        $('#entradas').html(partialView);
                        $('#entradas').show();
                        $('#detailsPlace').hide();
                    }
                });
            });
            
            $('.enviados').click(function() {

                $.ajax({
                    url: '@Url.Action("Enviados", "Mensajes")',
                    type: 'GET',
                    // data: { id: id },
                    success: function(partialView) {
                        $('#detailsPlace').html(partialView);
                        $('#detailsPlace').show();
                        $('#entradas').hide();
                    }
                });
            });


            $('.recibidos').click(function () {

                $.ajax({
                    url: '@Url.Action("Entrada", "Mensajes")',
                    type: 'GET',
                    // data: { id: id },
                    success: function (partialView) {
                        $('#entradas').html(partialView);
                        $('#entradas').show();
                        $('#detailsPlace').hide();
                    }
                });
            });




        $('.footable').footable();
        $('.footable2').footable();
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });


        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#data_2 .input-group.date').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $('#data_3 .input-group.date').datepicker({
            startView: 2,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $('#data_4 .input-group.date').datepicker({
            minViewMode: 1,
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true
        });

        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });


    });
    </script>
}










































































@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="gridtable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remitente)
            </th>

            <th>Total Files</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asunto)
                </td>
                <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remitente)
    </td>
                <td>
                    @if (item.Archivos.Count() == 0)
                {
                    <span>No File</span>
                }
                else
                {
                    <span>@item.Archivos.Count() File(s)</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">Delete</a>
            </td>
        </tr>
        }

    </table>*@