@model Requerimientos.Models.Estado_requerimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Estado_requerimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idestado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
