@model Requerimientos.Models.Novedades

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Novedades</h2>
        <ol class="breadcrumb"></ol>
    </div>
</div>


@using (Html.BeginForm(null, null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                     <a href="@Url.Action("Index", "Mensajes")" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Descartar Novedad"><i class="fa fa-times"></i> Descartar</a>
                    </div>
                    <h2>
                      Nueva Novedad
                    </h2>
                </div>
                <div class="mail-box">

                    <div class="mail-body">
                        <form class="form-horizontal" method="get">




                            <div class="form-group">

                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CambioEstado", null, htmlAttributes: new { @class = "form-control" })

                                  
                                </div>

                            </div>

@if (ViewBag.ocultar == false)
{

                            <div class="form-group">
            @Html.LabelFor(model => model.Idmensaje, "Mensaje", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Idmensaje", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Idmensaje, "", new { @class = "text-danger" })
            </div>
        </div>

}

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Titulo:</label>
                                <div>
                                    @Html.EditorFor(model => model.Titulo, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Titulo, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Privado:</label>
                                <div>
                                   
                                    @Html.EditorFor(model => model.Privado, new { htmlAttributes = new { @class = "checkbox" } })
                                </div>
                            </div>

                           


                        </form>
            </div>
            <div class="mail-text h-200">
                <div class="summernote">
                    @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "panel-body form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
</div>


}
>
@section Styles {
    @Styles.Render("~/plugins/summernoteStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/summernote")
    <script type="text/javascript">
        $(document).ready(function () {

           function HomeIndex() {
        var $this = this;

        function initialize() {
            $('#Descripcion').summernote({
                focus: true,
                height: 150,
                codemirror: {
                    theme: 'united'
                }
            });
        }

        $this.init = function () {
            initialize();
        }
    }
    $(function () {
        var self = new HomeIndex();
        self.init();
    })




        });

    </script>
}

